@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif'), local('DejaVuSerif'), url('../fonts/dejavuserif.woff2') format('woff2'), url('../fonts/dejavuserif.woff') format('woff'), url('../fonts/dejavuserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif Italic'), local('DejaVuSerif-Italic'), url('../fonts/dejavuserifitalic.woff2') format('woff2'), url('../fonts/dejavuserifitalic.woff') format('woff'), url('../fonts/dejavuserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif Bold'), local('DejaVuSerif-Bold'), url('../fonts/dejavuserifbold.woff2') format('woff2'), url('../fonts/dejavuserifbold.woff') format('woff'), url('../fonts/dejavuserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif Bold Italic'), local('DejaVuSerif-BoldItalic'), url('../fonts/dejavuserifbolditalic.woff2') format('woff2'), url('../fonts/dejavuserifbolditalic.woff') format('woff'), url('../fonts/dejavuserifbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
