@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif'), local('DejaVuSerif'), url('../fonts/dejavuserif.woff2') format('woff2'), url('../fonts/dejavuserif.woff') format('woff'), url('../fonts/dejavuserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif Bold'), local('DejaVuSerif-Bold'), url('../fonts/dejavuserifbold.woff2') format('woff2'), url('../fonts/dejavuserifbold.woff') format('woff'), url('../fonts/dejavuserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Bold.eot');
    src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
    url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-ThinItalic.eot');
    src: local('Avenir Next Cyr Thin Italic'), local('AvenirNextCyr-ThinItalic'),
    url('../fonts/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-ThinItalic.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-ThinItalic.woff') format('woff'),
    url('../fonts/AvenirNextCyr-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-MediumItalic.eot');
    src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'),
    url('../fonts/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-MediumItalic.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-MediumItalic.woff') format('woff'),
    url('../fonts/AvenirNextCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('../fonts/AvenirNextCyr-UltraLightIt.eot');
    src: local('Avenir Next Cyr Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'),
    url('../fonts/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-UltraLightIt.woff') format('woff'),
    url('../fonts/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Light.eot');
    src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'),
    url('../fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Light.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Light.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Italic.eot');
    src: local('Avenir Next Cyr Italic'), local('AvenirNextCyr-Italic'),
    url('../fonts/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Italic.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Italic.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-BoldItalic.eot');
    src: local('Avenir Next Cyr Bold Italic'), local('AvenirNextCyr-BoldItalic'),
    url('../fonts/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-BoldItalic.woff') format('woff'),
    url('../fonts/AvenirNextCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Heavy.eot');
    src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'),
    url('../fonts/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Heavy.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Heavy.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-HeavyItalic.eot');
    src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'),
    url('../fonts/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-HeavyItalic.woff') format('woff'),
    url('../fonts/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Thin.eot');
    src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'),
    url('../fonts/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Thin.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Thin.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Medium.eot');
    src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
    url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-DemiItalic.eot');
    src: local('Avenir Next Cyr Demi Italic'), local('AvenirNextCyr-DemiItalic'),
    url('../fonts/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-DemiItalic.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-DemiItalic.woff') format('woff'),
    url('../fonts/AvenirNextCyr-DemiItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Demi.eot');
    src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
    url('../fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Demi.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr Regular';
    src: url('../fonts/AvenirNextCyr-Regular.eot');
    src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
    url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-LightItalic.eot');
    src: local('Avenir Next Cyr Light Italic'), local('AvenirNextCyr-LightItalic'),
    url('../fonts/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-LightItalic.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-LightItalic.woff') format('woff'),
    url('../fonts/AvenirNextCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('../fonts/AvenirNextCyr-UltraLight.eot');
    src: local('Avenir Next Cyr Ultra Light'), local('AvenirNextCyr-UltraLight'),
    url('../fonts/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-UltraLight.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-UltraLight.woff') format('woff'),
    url('../fonts/AvenirNextCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


body {
    font-family: 'Avenir Next Cyr Regular', sans-serif !important;
}

.preloader {
    position: fixed;
    z-index: 9999999;
    font-family: 'DejaVu Serif';
}

.preloader > div {
    flex: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: #d9d9d9;
    color: #535353;
}


.bubbles {
    margin-top: 50px;
    position: relative;
}

.bubble {
    display: inline-block;
    padding: 0px 5px;
}

.bubble:nth-of-type(1) .circle {
    animation-delay: 0.1s;
}

.bubble:nth-of-type(2) .circle {
    animation-delay: 0.2s;
}

.bubble:nth-of-type(3) .circle {
    animation-delay: 0.3s;
}

.bubble:nth-of-type(4) .circle {
    animation-delay: 0.4s;
}

.bubble:nth-of-type(5) .circle {
    animation-delay: 0.5s;
}

.bubble:nth-of-type(6) .circle {
    animation-delay: 0.6s;
}

.bubble:nth-of-type(7) .circle {
    animation-delay: 0.7s;
}

.bubble:nth-of-type(8) .circle {
    animation-delay: 0.8s;
}

.bubble:nth-of-type(9) .circle {
    animation-delay: 0.9s;
}

.bubble:nth-of-type(10) .circle {
    animation-delay: 1s;
}

.bubble .circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #535353;
    animation: pulse 1.5s infinite;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.2);
        opacity: 0.75;
    }
    100% {
        transform: scale(1);
    }
}


.preloader h1, .republic-offerta-cover h1, .brand-logo {
    font-size: 4em;
    border: solid 3px #535353;
    padding: 0px 15px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: "DejaVu Serif";
    color: #535353;
}

.nightmode .preloader h1 {
    color: #d9d9d9 !important;
}

.preloader h6 {
    font-size: 2em;
}

.preloader p {
    font-size: 0.7em;
}

button {
    font-family: 'Open Sans', sans-serif !important;
}

.btn.focus, .btn:focus {
    box-shadow: none !important;
}

.send-article-btn-block button {
    background-color: #535353;
    color: #d9d9d9;
}

.nightmode .send-article-btn-block button {
    background-color: #535353;
    color: #d9d9d9;
    border: solid 1px #d9d9d9;
}

.ui.button, .ui.header {
    font-weight: 300 !important;
}

.modals {
    z-index: 999999 !important;
}

.nightmode {
    /* transition: 0.3s ease-in; */
    transition: 0.15s ease-in;
}

.nightmode .preloader > div {
    background-color: #535353 !important;
    color: #d9d9d9 !important;
}

.nightmode .preloader h1 {
    border: solid 3px #d9d9d9;
}

.nightmode .bubble .circle {
    background: #d9d9d9 !important;
}

.nightmode .topbar, .nightmode .topbar *, .nightmode footer, .nightmode footer * {
    background-color: #535353 !important;
    color: #d9d9d9 !important;
}

.nightmode .content-block *, .nightmode, .nightmode .content-block button, .nightmode .popup, .nightmode .profile-content * {
    transition: 0.3s ease-in;
    background-color: #333333 !important;
    color: lightgray !important;
}

.nightmode .progress-bar {
    transition: 0.3s ease-in-out;
    background-color: #333333 !important;
}

.nightmode .progress-container {
    transition: 0.3s ease-in;
    background-color: lightgray !important;
    border-top: solid 2px lightgray !important;
    border-bottom: solid 2px lightgray !important;
}

.nightmode .scrollmenu, .nightmode .scrollmenu * {
    background-color: #535353 !important;
    color: #d9d9d9 !important;
}

.nightmode .nav-link.active, .nightmode .nav-link.active * {
    background-color: lightgray !important;
    color: #333333 !important;
    transition: 0.3s ease-in;
}

.nightmode .card-title {
    background-color: transparent !important;
}

.nightmode .card-big * {
    background-color: transparent !important;
    color: white !important;
}

.nightmode .ui.left.center.popup:before, .ui.right.center.popup:before, .nightmode .ui.popup:before {
    background: #333333;
}

.nightmode .profile-content .classic-tabs-btn {
    background-color: #444444 !important;
}

.nightmode #back-to-top {
    background-color: #555555 !important;
}

.nightmode i {
    background-color: transparent !important;
}

.nightmode #back-to-top {
    color: #d9d9d9 !important;
}

.nightmode #commentmodal, .nightmode #commentmodal div, .nightmode #commentmodal div * {
    background-color: #535353 !important;
    color: #d9d9d9;
}

.nightmode .card-big hr {
    background-color: #fff !important;
}

#header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: block;
    transition: 0.3s ease-in;
    z-index: 777777;
    background-color: #fff;
}

.printed-headline {
    font-weight: 700;
}

.profile-content {
    margin-top: 70px !important;
}

.tab-content {
    min-height: 70vh;
}

.content-block {
    z-index: 555555;
    padding-top: 110px;
    margin-left: 15px;
    margin-right: 15px;
    /* min-height: 85vh; */
    min-height: calc(100vh - 248px);

}

.content-block .send-article {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.card-image img {
    object-fit: cover;
    object-position: top;
}

.card-big img {
    max-width: 100%;
    height: 25em;
}

.card-horizontal img {
    max-width: 100%;
    height: 15em;
}

.secondary-bar .card-horizontal img {
    height: 8em;
}

/* Profile page start */
.profile-topbar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px !important;
}

.profile-content {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.profile-content .ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
    width: 8em !important;
    height: 8em !important;
    margin-right: .25em !important;
}

.profile-details .username {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.profile-details {
    font-size: 1em;
    color: gray;
}

.profile-content .classic-tabs ul {
    border-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    margin-top: 50px;
    background-color: #d9d9d9;
}

.nav-link {
    color: #535353;
}

.profile-content .classic-tabs ul i {
    font-size: 1.7em;
}

.profile-content .classic-tabs .nav-link {
    text-align: center;
}

.profile-details {
    display: inline-block;
    padding-left: 0.35em;
}

.profile-details span {
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.wrapper > li {
    flex: 1;
}

.nav-link {
    border-radius: 5px;
}

.nav-link.active {
    background-color: #535353;
    color: #d9d9d9;
    transition: 0.3s ease-in;
}
/* Profile page end */

/* Article page start */
.article {
    padding-top: 80px !important;
}

.article .send-article-btn-block {
    margin-bottom: 25px;
}

.form .btn {
    display: flex;
    align-items: center;
    float: right;
}

.article-body {
    word-wrap: break-word;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 500;
}

.article-body img {
    max-width: 100%;
}

.article-subtitle {
    font-size: 14px;
    margin-top: 15px;
    font-weight: 700;
}

.article .card-horizontal .main-title {
    font-size: 1em !important;
}

.article .card-horizontal .sub-title {
    font-size: 0.7em !important;
}

.article-author .avatar {
    margin-right: 0 !important;
}

.article-author .username {
    padding-left: 4px;
}

.photo-mark {
    font-size: 14px;
    color: gray;
}

.special-features {
    position: relative;
    border-bottom: solid 1px lightgray;
    padding-bottom: 5px;
}

.special-features button {
    border: solid 1px whitesmoke;
}

.special-features button i {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.content-right {
    position: absolute;
    right: 0;
    top: 0;
}

.btn {
    padding: .375rem .55rem !important;
}

.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
    /* margin-right: .25em; */
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 500rem;
}

.ui.image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent;
}

.article-block .experts-opinion {
    font-size: .8em !important;
    color: #666666;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.07) !important;
    margin-top: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.article-topbar {
    display: flex;
    align-items: center;
}

.article-block .article-title {
    padding-top: 20px;
}

.article-topbar .flex-right h6 {
    display: flex;
    align-items: center;
}

.popup .btn {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.bigger-text {
    font-size: 24px !important;
}

.medium-text {
    font-size: 19px !important;
}

.smaller-text {
    font-size: 14px !important;
}

.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
    border-radius: 50%;
}

.actions button {
    margin-bottom: 10px;
}

.ui.message {
    position: fixed;
    bottom: 0;
    left: 1%;
    width: fit-content;
}

.date {
    font-size: 0.8em;
}

/* Article page end */

.topbar {
    display: flex;
    background-color: #d9d9d9;
    color: #535353 !important;
    align-items: center;
    font-family: 'DejaVu Serif';
    font-size: 10px;
}

.topbar > * {
    display: flex;
    /* align-self: center;    <---- REMOVE */
    align-items: center;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #535353 !important;
}

.left {
    width: 10%;
    justify-content: left;
}

.center {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 5px;
    color: #ffffff;
}
.center a {
    font-size: 20px;
    padding: 5px;
    color: #535353 !important;
}
.center:hover {
    color: #ffffff;
}

.left {
    margin-top: 7px;
}

.right {
    width: 10%;
    right: 0;
    margin-top: 7px;
}

.right i, .left i {
    font-size: 23px;
}

.topbar button {
    padding: 3px !important;
    /* transition: 0.3s; */
}

div.scrollmenu {
    background-color: #d9d9d9;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    /* transition: ease-in 0.2s; */
}
.show{
    transition: .2s;
}
#_progress {
    --scroll: 0%;
    background: linear-gradient(
            to right,
            rgb(51, 102, 255) var(--scroll),
            transparent 0
    );
    width: 100%;
    height: 3px;
    top: 0px;
    z-index: 100;
}

/* width */
div.scrollmenu::-webkit-scrollbar {
    height: 5px;
}

/* Track */
div.scrollmenu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
div.scrollmenu::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 30px;
}

/* Handle on hover */
div.scrollmenu::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.card {
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    box-shadow: none !important;
    padding-bottom: 10px;
    text-align: left;
}

.card * {
    text-align: left;
}

.card-horizontal {
    color: black;
}

.secondary-bar .card-horizontal {
    border-radius: 0 !important;
}

.secondary-bar .card-horizontal:first-child {
    padding-top: 3px !important;
}

.card-title {
    width: 100%;
    margin: 0 !important;
    padding: 1.5vw !important;
    padding-top: 50px !important;
}

.card-big .card-title {
    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.card a {
    color: black;
}

a:hover {
    text-decoration: none !important;
    color: black;
}

.card-title > * {
    margin-top: 1vh;
    margin-bottom: 0;
}

.experts-opinion {
    font-size: 3vw;
    font-weight: 300;
}

.main-title {
    font-size: 3.8vw;
    font-weight: 300;
}

.sub-title {
    font-size: 3vw;
    font-weight: 300;
    color: gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.read-time {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    display: inline-block;
    vertical-align: top;
}

.read-time i {
    margin-right: 3px;
}

.main-block {
    padding-right: 1px !important;
}

@media (min-width: 576px) {
    /* .card-horizontal .experts-opinion {
      font-size: 3vw !important;
    }
    .read-time {
      font-size: 3vw !important;
    } */
}

@media (max-width: 768px) {
    .news-block, .secondary-bar {
        padding: 0 !important;
    }

    .horizontal-card-top-content {
        display: flex;
        align-items: center;
    }

    .article-block .article-title {
        font-size: 5vw !important;
    }

    .article-block {
        margin-top: 0 !important;
        padding: 0 !important;
    }

    .article .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .article-block .experts-opinion {
        margin-top: 9px !important;
        font-size: 0.7em !important;
        padding-bottom: 3.2px !important;
    }

    .profile-topbar {
        margin-left: 0.75em;
    }

    .profile-content .classic-tabs {
        font-size: 0.7em;
    }

    .profile-content .classic-tabs ul i {
        font-size: 2.3em !important;
    }

    .profile-content .ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
        width: 6em !important;
        height: 6em !important;
        margin-right: .25em !important;
    }

    .profile-details .username {
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
    }

    .profile-details {
        font-size: 0.85em;
        color: gray;
    }

    .down-news-block .col-md-8, .down-news-block {
        padding: 0 !important;
    }

    .down-news-block .experts-opinion, .down-news-block .read-time {
        font-size: 0.5em !important;
    }
}

@media (min-width: 768px) {
    .experts-opinion {
        font-size: 1.2vw !important;
    }

    .card-horizontal .experts-opinion {
        font-size: 0.8rem !important;
    }

    .card-horizontal .main-title {
        font-size: 1.5vw !important;
    }

    .secondary-bar {
        margin-top: 5px;
    }

    .secondary-bar .card-horizontal .main-title {
        font-size: 1.1vw !important;
    }

    .secondary-bar .card-horizontal .sub-title {
        font-size: 0.9vw !important;
    }

    .sub-title {
        font-size: 1.3vw;
        margin-bottom: 3px;
    }

    .main-title {
        font-size: 2vw;
    }

    .news-block {
        padding: 0 15px !important;
    }
}

@media (min-width: 992px) {
    .experts-opinion {
        font-size: 1.5vw !important;
    }

    .card-horizontal .experts-opinion {
        font-size: 0.8rem !important;
    }

    .card-horizontal .main-title {
        font-size: 1.5vw !important;
    }

    .secondary-bar .card-horizontal .main-title {
        font-size: 1.1vw !important;
    }

    .secondary-bar .card-horizontal .sub-title {
        font-size: 0.9vw !important;
    }

    .main-title {
        font-size: 2vw;
    }

    .news-block {
        padding: 0 15px !important;
    }
}

@media (min-width: 1200px) {
    .card-title > * {
        margin-top: 2vh !important;
    }

    .experts-opinion {
        font-size: 1vw !important;
    }

    .card-horizontal .experts-opinion {
        font-size: 1vw !important;
    }

    .card-horizontal .main-title {
        font-size: 1.5vw !important;
    }

    .secondary-bar .card-horizontal .main-title {
        font-size: 1.1vw !important;
    }

    .secondary-bar .card-horizontal .sub-title {
        font-size: 0.94vw !important;
    }

    .sub-title {
        font-size: 1vw;
    }

    .main-title {
        font-size: 2vw;
    }

    .news-block {
        padding: 0 15px !important;
    }
}

.card {
    transition: 0.3s !important;
}

.card-big .experts-opinion {
    width: min-content;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.card-big .sub-title {
    color: lightgray;
}

.img-fluid {
    transition: 0.3s ease-in;
}

.card-image img {
    transition: 0.3s ease-in;
}

/* .card:hover,  //наведение курсором на статьи*/
.img-fluid, .card-horizontal:hover .card-image img {
    filter: brightness(.8) !important;
}

.card-image .img-fluid {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-horizontal h3, .card-horizontal h5 {
    margin-top: 5px !important;
    margin-bottom: 0;
}

.horizontal-card-top-content {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.horizontal-card-top-content h6 {
    float: left;
    margin: 0;
    margin-right: 10px;
}

.horizontal-card-top-content p {
    margin: 0 !important;
}

.form {
    font-weight: 200 !important;
}

.basic .form input, .basic .form textarea {
    background-color: transparent !important;
    border: solid 1px rgba(0, 123, 255, 1) !important;
    color: #ffffff !important;
}

.form label {
    color: #ffffff !important;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    padding: 7px;
    border-radius: 50%;
    font-size: 2em;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#back-to-top:hover {
    background: #e9ebec;
}

#back-to-top.show {
    opacity: 1;
}

footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #535353 !important;
    color: #d9d9d9 !important;
}

.footer-content {
    width: 100% !important;
}

.footer-content a {
    color: #d9d9d9;
    font-size: 1.5em;
}

.footer-content a:hover {
    color: #ffffff;
}

.nightmode .footer-content a:hover {
    color: #ffffff;
}

.republic-offerta-cover {
    height: 50vh;
    width: 100%;
    color: #535353;
    background-color: #d9d9d9;
    border: solid 2px #535353;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nightmode .republic-offerta-cover h1 {
    border: solid 2px #d9d9d9 !important;
}

.about {
    margin-top: 20px;
}

.centered-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-block .tab-content {
    min-height: min-content !important;
}

.auth-block .nav-link {
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #535353;
}

.auth-block .nav-item:first-child .nav-link {
    border-right: none;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.nav-link:hover {
    color: #535353;
}

.nav-link.active:hover {
    color: #d9d9d9;
}

.auth-block .nav-item:last-child .nav-link {
    border-left: none;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.auth-block .nav-link i {
    margin-right: 10px;
}

.auth-block .brand-logo {
    margin-bottom: 20px;
}


.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Position the items */
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
}

.send-article {
    display: block !important;
}

.menu-btn {
    display: none !important;
}

@media (max-width: 468px) {
    #header {
        background-color: transparent;
    }

    .card-big img {
        height: 18em;
    }

    .main-bar .card-horizontal img {
        height: 7em;
    }

    .secondary-bar .card-horizontal img {
        height: 7em;
    }

    .down-news-block .card-image img {
        height: 6em;
    }

    .profile-content {
        padding-top: 0 !important;
    }

    .send-article {
        display: none !important;
    }

    .menu-btn {
        display: block !important;
    }

    .content-block {
        padding-top: 80px !important;
    }

    .nightmode div.scrollmenu {
        background: #535353;
        background-color: rgba(53, 53, 53, 0.40) !important;
    }

    .nightmode div.scrollmenu * {
        background-color: transparent !important;
    }

    div.scrollmenu {
        background: #d9d9d9;
        background-color: rgba(217, 217, 217, 0.40);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        display: none;
        transition: opacity 1s ease-out;
        height: 100vh;
        width: max-content;
    }

    div.scrollmenu a {
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
        display: block !important;
        padding-left: 25px;
        padding-right: 25px;
        border-bottom: solid 1px lightgray;
    }
    .lni-close{
        transition: all .3s;
    }
    div.show {
        display: block;
        -webkit-animation: fadeIn 0.3s;
        animation: fadeIn 0.3s;
    }

    @-webkit-keyframes fadeIn {
        from {
            transform: translateX(-20px)
        }
        to {
            transform: translateX(0)
        }
    }
    @keyframes fadeIn {
        from {
            transform: translateX(-20px)
        }
			to { transform: translateX(0)}
        }
    }
.content-404 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-404 * {
    display: block;
}

.white-bg {
    background-color: #d9d9d9;
}

.nightmode .white-bg {
    background-color: #535353;
}

.tab-content {
    padding-top: 15px;
}

.nightmode textarea {
  border: solid 1px lightgray !important;
}

.read-time-block {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .3rem;
    background-color: white;
    border-radius: .3em 0 0;
}
.read-time-block p{
    margin-bottom: 0;

}

.poll {
    padding: 2rem;
}
.poll-btn{
    text-align: center;
    margin-top: .4rem;
    padding: .4em;
    border: 1px solid darkgrey;
    border-radius: .3em;
    width: 100%;
    transition: .2s;
    outline: none;
}
.poll-btn:focus {
    color: white;
    outline: none;
    box-shadow: none;
    background-color: darkgrey;
    transition: .2s;
}

.col-6 {
    margin-top: 2rem;
}

.slide-up-transition {
    transform: translateY(-10px);
    opacity: 0;
    transition: ease-out .4s;
}
.slide-up-transition-cards {
    /* transform: translateY(30px); */
    transition: ease-out .4s;
}

h5.popular{
    text-align: center;
    /* margin-bottom: 1rem; */
    border-bottom: 1px solid darkgrey;
    padding-bottom: .5rem;
    width: 75%;
    margin: 1.3rem auto;
    font-size: large;
    text-transform: uppercase;
}

html{
    transition: all .4s;
}

.load-more{
    margin-top: 1rem;
}

.load-more button{
    text-align: center;
    margin-top: .4rem;
    padding: .4em;
    border: 1px solid darkgrey;
    border-radius: .3em;
    width: fit-content;
    transition: .2s;
    outline: none;
}
.load-more button:focus {
    color: white;
    outline: none;
    box-shadow: none;
    background-color: darkgrey;
    transition: .2s;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.active-rubric {
    background-color: #fff;
}
.nightmode .active-rubric {
    background-color: #333333 !important;
}